.bg-gray-100.flex
  .px-8.py-12.max-w-md.mx-auto.sm:max-w-xl.lg:max-w-full.lg:px-12.py-24{class: "lg:w-1/2"}
    .xl:max-w-lg.xl:ml-auto
      = image_tag "logo.svg", alt: "Workcation", class: "h-10"
      = image_tag "beach-work.jpg", class: "mt-6 rounded-lg shadow-xl sm:mt-8i sm:h-64 sm:w-full sm:object-cover sm:object-center lg:hidden",
        alt: "Woman workcationing on the beach"
      %h1.mt-6.text-2xl.font-bold.text-gray-900.leading-tight.sm:text-4xl.sm:mt-8.lg:text-3xl.xl:text-4xl
        You can work from anywhere.
        %br.hidden.lg:inline
        %span.text-indigo-500
          Take advantage of it.
      %p.mt-2.text-gray-600.sm:mt-4.sm:text-xl
        Workcation helps you find work-friendly rentals in beautiful locations so you can enjoy some |
        nice weather even when you're not on vacation.
      .mt-4.sm:mt-6
        = link_to "Book your escape", "#",
          class: "inline-block px-5 py-3 rounded-lg shadow-lg bg-indigo-500 text-sm text-white uppercase tracking-wider font-semibold sm:text-base"
  %div{class: "hidden lg:block lg:w-1/2 lg:relative"}
    = image_tag "beach-work.jpg", class: "absolute inset-0 w-full h-full object-cover object-center",
      alt: "Woman workcationing on the beach"
