.px-8.py-12
  = image_tag "logo.svg", alt: "Workcation", class: "h-10"
  = image_tag "beach-work.jpg", class: "mt-6 rounded-lg shadow-xl", alt: "Woman workcationing on the beach"
  %h1.mt-6.text-2xl.font-bold.text-gray-900.leading-tight
    You can work from anywhere.
    %span.text-indigo-500
      Take advantage of it.
  %p.mt-2.text-gray-600
    Workcation helps you find work-friendly rentals in beautiful locations so you can enjoy some |
    nice weather even when you're not on vacation.
  .mt-4
    = link_to "Book your escape", "#",
      class: "inline-block px-5 py-3 rounded-lg shadow-lg bg-indigo-500 text-sm text-white uppercase tracking-wider font-semibold"
